/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
     background-color: #f0efef;
      
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 960px;
  margin: auto;
 
}

header {
  background-color: #033048;
  width: 100%;
  height:100px;
  padding:20px 50px;

}
h1{
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.nav{
  color:#f9e42e;
  display: inline-block;
  float: right;
  padding: 20px;
  font-weight: normal;
}

  .nav:hover { 
    background-color: #f9e42e;
    color: #033048;
}

li{
  padding: 10px;
}
.div1{
  margin: 20px 50px;
}
.div2{
  margin: 20px 50px;
}
h2{
  color:#033048;
  font-size: 32px;
  font-weight: bold;
}
span{
  color:#606161;
  font-size:50px;
}
p{
  color:#606161;
  font-size:24px;
}
.readmore{
  text-align:right;
  color:#033048;
  font-size:24px;
}
 .readmore:hover{ 
   text-decoration:underline;
  }
.section1{
  width: 60%;
  display: inline-block;
  float: left;
  background-color: #f0efef;
}

.section2{
  width:40%;
  display: inline-block;
  float: right;
  vertical-align: top;
  padding:5%;
  color:#033048;
  font-size:18px;
  
}
h3{
  font-size: 24px;
  font-weight: bold;
  color:#033048;
}
.sidep{
  color:#033048;
}
.sidelist{
  list-style: none;
}
.learnmore{
  font-weight: bold;
  color:#033048;
  font-size: 27;
  padding: 20px 10px;
}
 .learnmore:hover { 
   text-decoration:underline;
 }
.categories{
 padding: 20px 10px; 
}
 .sidelist:hover { 
    background-color: #033048;
    color: #f0efef;
  }
.about{
  padding: 20px 10px; 
}
.sign-up{
  background-color:#f9e42e;
  height: 100px;
  text-align: center;
  width: 960px;
  margin: auto;

}
.sign-up-now{
  background-color:#033048;
  border: none;
  color:white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 2px;
  font-size:24px;
  display:inline-text;
  margin-top: 20px;
}
footer{
  background-color:#121212;
  height: 300px;
  text-align: center;
  width: 960px;
  margin: auto;
  padding-top: 100px;
}
.bottomlogo{
  color: #f9e42e;
  margin-bottom: 50px;
}
.copyright{
   margin-top: 20px;
   color: white;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.clearfix:after {
  clear: both;
  content: " ";
  display: block;



